// Theme
// -------------------------------
// Core variables and mixins
@import "variables.less";
@import "../../../bower_components/bootstrap/less/mixins.less";

// Vendor
// -------------------------------

// Bootstrap's styles
@import "bootstrap.less";


// Components
// -------------------------------

/*@import "foo.less";*/




// Site-overrides
// -------------------------------

// Override Bootstrap in favor of GitHub styles
pre {
  background: #F8F8FF;
}


// Move down content because we have a fixed navbar that is 50px tall 
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
